/* GENERAL */
ul {
    list-style-type: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2b2a33;
    color: #cfcfd8;
    margin: 0 auto;
    width: 80vw;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1rem;
    gap: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    color:  #fbfbfe;
    margin-left: -0.5rem;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin: 3rem 0 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}

#logo {
    margin-right: auto;
    display: flex;
    align-items: flex-end;
    max-width: max-content;
    font-size: 3rem;
    font-weight: bold;
    gap: 1rem;
    color: white;
}

#logo img {
    width: 1.7em;
}


/*MAIN*/
main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 5rem;
}

main > * {
    display: flex;
    flex-direction: column;
}

nav {
    gap: 1rem;
}

article {
    flex: 1;
    min-width: 50%;
    gap: 3rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

code {
    display: block;
    background-color: black;;
    padding: 0.5rem;
    border: 1px solid grey;
    margin: 0.5rem 0;
}

.warning {
    background-color: #ffa436;
    padding: 1rem; 
    color: black;
    border-radius: 0.5rem;
}

main img {
    display: block;
    border-radius: 0.2rem;
    width: 100%;
}


caption {
    font-size: 1.3em;
    margin-bottom: 0.8rem;
    font-weight: bold;
}

td,
th {
    border: 1px solid white;
    text-align: center;
    padding: 0.4rem 0;
}

table td:first-child {
    padding: 0;
}

/* FOOTER */
footer {
    text-align: center;
    opacity: 30%;
    padding: 2rem;
    font-size: 0.9rem;
}
