/* GENERAL */
ul {
    list-style-type: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2b2a33;
    color: #cfcfd8;
    margin: 0 auto;
    width: 80vw;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1rem;
    gap: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    color: white;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    padding: 2rem 0;
}

header h1 {
    margin-right: auto;
}


/*MAIN*/
main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 5rem;
}

main > * {
    display: flex;
    flex-direction: column;
}

h2,
h3 {
    margin-bottom: 0.3rem;
    margin-left: -0.8rem;
}

h2 {
    font-size: 2.5rem;
}

article h3 {
    font-size: 1.5rem;
    margin-top: 2.6rem;
}

nav {
    gap: 2rem;
}

article {
    flex: 1;

    min-width: 50%;
    gap: 0.5rem;
}

.coming-soon {
    opacity: 50%;
}

code {
    display: block;
    background-color: black;;
    padding: 1rem;
    border-radius: 0.9rem;
    margin: 1rem 0;
    border: 1px solid grey;
}

.warning {
    background-color: #ffa436;
    padding: 1rem; 
    color: black;
    border-radius: 0.5rem;
}

img {
    display: block;
    border-radius: 0.2rem;
    width: 100%;
}


/* FOOTER */
footer {
    text-align: center;
    opacity: 30%;
    padding: 2rem;
    font-size: 0.9rem;
}
