html {
    font-size: 10px;
}

ul {
    list-style-type: none;
}

body {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #1c1b22;
    color: lightgrey;
    margin: auto;
    max-width: 140rem;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 6rem;
    justify-content: space-around;
}


body * {
    margin: 0;
    padding: 0;
}


/*HEADER*/
header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

header h1 {
    margin-right: auto;
}


/*MAIN*/
main {
    display: flex;
    flex-grow: 1;
}

article {
    flex-basis: 100rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 3rem;
}

ul#navigation {
    flex-basis: max-content;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




/*FOOTER*/
footer {
    text-align: center;
    font-size: 1.2rem;
    opacity: 30%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    display: block;
    background-color: black;;
    padding: 1rem;
    border-radius: 0.9rem;
    margin: 2rem 0;
    font-size: 1.7rem;
    border: 1px solid grey;
}

img {
    display: block;
    margin: 2rem 0;
    border-radius: 1rem;
}

h1,
h2,
h3,
h4 {
    color: white;
    margin-top: 3rem;
    display: block;
}