/* GENERAL */
html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2b2a33;
    color: #cfcfd8;
    margin: 2rem auto;
    width: 85vw;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

#page-wide-navigation {
    display: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
}

ul {
    list-style-type: square;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5rem;
}

#logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

#logo img {
    height: 3rem;
}

/*MAIN*/
main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
}

main > * {
    display: flex;
    flex-direction: column;
}

nav {
    gap: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

code {
    display: block;
    background-color: black;;
    padding: 0.5rem;
    border: 1px solid grey;
    margin: 0.5rem 0;
}

.warning {
    background-color: #ffa436;
    padding: 1rem; 
    color: black;
    border-radius: 0.5rem;
}

main img {
    display: block;
    border-radius: 0.2rem;
    width: 100%;
}

/* FOOTER */
footer {
    text-align: center;
    opacity: 30%;
    padding: 2rem;
    font-size: 0.9rem;
}